.description {
    grid-area: description;
    max-width: calc(100% - 148px*2); 
    margin: 92px auto;
  }
@media screen and (max-width: 1024px) {
  .description {
    grid-area: description;
    max-width: calc(100% - 48px*2); 
    margin: 92px auto;
  }
}
@media screen and (max-width: 768px) {
  .description {
    max-width: calc(100% - 24px*2); 
    margin: 88px auto;
  }
}  
@media all and (max-width: 320px) { 
  .description {
    max-width: calc(100% - 16px*2); 
    margin: 64px auto;
  }
}
