.gallery {
    display: grid;
    max-width: calc(100% - 48px*2);
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    object-fit: cover;
    margin: 92px auto;
  }
@media screen and (max-width: 1279px) {
  .gallery {
    gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .gallery {
    max-width: calc(100% - 24px*2);
    gap: 16px;
    margin: 88px auto;
  }
}
@media all and (max-width: 767px) { 
  .gallery {
    max-width: calc(100% - 16px*2);
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
    margin: 64px auto;
  }  
}