.trains__text{
    padding: 245px 312px 245px 312px;
  } 
@media screen and (max-width: 1024px) {
  .trains__text{
    padding: 195px 232px 195px 232px;
  }  
}
@media screen and (max-width: 768px) {
  .trains__text {
    padding: 115px 105px 115px 104px;
  } 
}
@media all and (max-width: 320px) { 
  .trains__text{
    padding: 33px 36px 33px 36px;
  } 
}