.trains {
  width: calc(100% - 48px*2);
  min-height: 740px;
  margin: 0 auto 92px;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  }
  .trains::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
  }
  .trains:hover::before {
  opacity: 0.8;
  }
  
  @media screen and (max-width: 1279px) {
  .trains {
    width: 100%;
    min-height: 640px;
   }
  } 
  @media screen and (max-width: 1023px) {
  .trains {
    margin: 0 auto 88px;
    min-height: 480px;
  }
  } 
  @media all and (max-width: 767px) { 
  .trains {
    margin: 12px auto 64px;
    min-height: 200px;
  }
  }





