.sightseeings__paragragh {
    grid-column: 2/3;
    grid-row: 2/3;
  }
@media all and (max-width: 767px) { 
  .sightseeings__paragragh {
    margin-left: 16px;
    width: 288px;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}