.footer__link{
    text-align: end;
    font-weight: normal;
    font-size: 16px;
    line-height: 112%;
    padding-right: 18px;
    text-decoration: none;
    color: #fff;
  }
@media all and (max-width: 767px) { 
  .footer__link{
    font-size: 24px;
    line-height: 24px;
    padding-right: 0;
    margin-bottom: 32px;
  }
}
