.sightseeings__link-container {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
@media all and (max-width: 767px) { 
  .sightseeings__link-container {
    padding-left: 16px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}