.footer__links{
    display: flex;
    flex-direction: row;
  }
@media all and (max-width: 767px) { 
  .footer__links{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}