.sightseeings__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin-top: 0;
    margin-bottom: 26px;
  }
  .sightseeings__text:last-of-type {
    margin-bottom: 0;
  }
@media screen and (max-width: 1023px) {
  .sightseeings__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
@media all and (max-width: 767px) { 
  .sightseeings__text {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 25px;
  }  
}