.trains__subtitle{
    max-width: 360px;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    margin: 0 auto;
  }
@media all and (max-width: 767px) { 
  .trains__subtitle { 
    width: 288px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    margin-left: -7%;
  }
}