
.header__lang-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 46px;
    margin-right: 48px;
    padding-left: 0;
  }
@media screen and (max-width: 768px) {
  .header__lang-links {
    margin-right: 24px;
  }
}
@media all and (max-width: 320px) { 
  .header__lang-links {
    margin-top: 30px;
    margin-right: 16px;
  }
}