.trains__title {
    max-width: 560px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin: 0 auto 32px;
  }
@media all and (max-width: 767px) { 
  .trains__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding: 0 40px;
    margin: 0 auto 16px;
  }
}